# Object files
*.o
*.ko
*.obj
*.elf
*o.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.xml

# Debug files
*.dSYM/

# Folders
/sua50.X/
/test_sua50.X/
/documentation/
/doc/*
/prj/test_sua50.X/
/prj/sua50.X/
#/.vscode
/build
/tools
/docs

# Temporary files
*.tmp