### C ###
# Object files
*.o
*.ko
*.obj
*.elf
*o.d

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.xml

# Debug files
*.dSYM/

# Temporary files
*.tmp

# VSCode
# /.vscode/c_cpp_properties.json
# /.vscode/settings.json

# Folders
build/
.vscode/
src/Core/
src/Drivers/
# /tools/pvs-studio/windows
tools/ejtagproxy/
tools/gdb/
tools/openocd/
tools/pickit3/
tools/stlink/

# Exclude some files 
!/tools/clang-format/windows/clang-format.exe
!/tools/clang-tidy/clang-tidy.exe
!/tools/pvs-studio/windows/How-To-Use-PVS-Studio-FREE.exe
